@charset "utf-8";

nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: yellow;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

nav .logo {
    font-size: 24px;
    font-weight: black;
}

nav .barnav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-right: 40px;

}

nav .barnav div {
    padding: 10px 20px;
}

nav .barnav div:hover {
    cursor: pointer;
    background: #79795c;
}

.contenedor {

    display: flex;
    justify-content: center;
}


.imagen {

    width: 250px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 60px;
}

.textos {

    align-self: center;
}
