@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Ovo&family=Raleway&display=swap');

:root{
    --Titulos: 'Montserrat', sans-serif;
    --texto: 'Noto Sans', sans-serif;
    --footer: 'Ovo', serif;
    --subtitulos: 'Raleway', sans-serif;

    --color_menu_footer: #231123;
    --bloques: #F2F2F2;
    --subloques: #D9D9D9;
    --titulos_principales: #A5C5D7;
    --bloque_titular: #52528Ca5;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url("/img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


nav{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #231123a5;
}

.principio{
    padding-top: 10px;
    width: 80px;
    margin-left: 30px;
    opacity: 0.9;
}

.navbar{
    font-size: 25px;
    color: white;
    margin-right: 60px;
    cursor: pointer;
}

.menu{
    position: fixed;
    width: 100%;
    height: 0;
    top: 120px;
    background: rgba(0 0 0 / 0.7);
    text-align: center;
    transition: all .10s;

}

.menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 5s;
}

.menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li a.active, .menu li a:hover{
    color: #a5c5d7;
    transition: .3s;
}


#check{
    display: none;
}

#check:checked ~ .menu{
    height: 100vh;

}

#check:checked ~ .menu li{

    display: block;
}

.principal{
    padding: 0 30px;
    margin-top: 80px;
    text-align: left;
    color: white;
}

.principal h1{
    margin-left: 10px;
    font-size: 50px ;

}

.principal h2{
    margin-left: 10px;
    font-size: 16px;
}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.biografia{
    padding: 0 15px 50px 15px;
    text-align: center;
    background: var(--subloques) ;
    font-family: var(--texto);
    font-size: 2rem;
}

.twitter h3{
    font-family: var(--Titulos);
    font-size: 3rem;
    color: var(--bloque_titular);
    padding: 50px;
}

.twitter-timeline{
    padding: 100px 120px 100px 120px;
    margin: 20px;
    background-color: rgb(107, 189, 178);
    border-radius: 50px
}


footer{
    margin-top: 5%;
    background-color:var(--color_menu_footer);
    width: 100%;
    text-align: center;
    font-family: var(--footer);
    color: white;
}
footer h2{
    font-size: 2rem;
    padding: 30px 0 0 0;
}
footer .footer2{
    font-size: 1rem;
    padding: 15px 0px 0 0px;
}
footer .footer3{
    font-size: 1rem;
    padding: 0 0 40px 0;
    margin-bottom: auto;
}


@media screen and (min-width: 1560px){
    .principio{
        margin-left: 50px;

    }
    nav{
        height: 120px;
    }
    .navbar{
        display: none;
    }

    .menu{
        position: relative;
        height: 150px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .menu li{
        display: inline-block;
        line-height: 100px;
        transition: none;
        margin: 30px 20px;
    }

    .menu li a{
        font-size: 14px;
        box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.542);
    }

    .principal h1{
        font-size: 70px;
    }

    .principal h2{
        font-size: 20px;
    }

    .todo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .biografia{
        padding: 0 15px 50px 15px;
        text-align: center;
        background: var(--subloques) ;
        font-family: var(--texto);
        font-size: 2rem;
    }
    
    .twitter h3{
        font-family: var(--Titulos);
        font-size: 3rem;
        color: var(--bloque_titular);
        padding: 50px;
    }
    
    .twitter-timeline{
        padding: 100px 120px 100px 120px;
        margin: 20px;
        background-color: rgb(107, 189, 178);
        border-radius: 50px
    }
    
    
    footer{
        margin-top: 5%;
        background-color:var(--color_menu_footer);
        width: 100%;
        text-align: center;
        font-family: var(--footer);
        color: white;
    }
    footer h2{
        font-size: 2rem;
        padding: 30px 0 0 0;
    }
    footer .footer2{
        font-size: 1rem;
        padding: 15px 0px 0 0px;
    }
    footer .footer3{
        font-size: 1rem;
        padding: 0 0 40px 0;
        margin-bottom: auto;
    }
    
}

